<!DOCTYPE html>
<html>
<head>
  <title>IdMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <% if current_user.present? %>
      Signed in as <%= current_user.email %>
      <%= link_to "Sign out", sign_out_path %>
    <% else %>
      <%= link_to "Sign in with ID.me", "/auth/idme" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
